.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #333;
    font-family: sans-serif;
}

.flex-item {
    flex-grow: 1;
    margin: 20px;
    padding: 20px;
    border: 2px solid #333;
    max-width: 300px;
}

.flex-item:hover {
    flex-grow: 1;
    margin: 20px;
    padding: 20px;
    border: 2px solid #459f60;
    box-shadow: 0px 0px 10px #448658;
    max-width: 300px;
}

.flex-item:focus {
    flex-grow: 1;
    margin: 20px;
    padding: 20px;
    border: 2px solid #459f60;
    box-shadow: 0px 0px 20px #448658;
    max-width: 300px;
}

.flex-container img{
    object-fit: cover;
    width: 300px;
}

form {
    text-align: center;
    padding: 50px;
}

input[type="submit"]{
    background: #459f60;
    color: #fff;
    border: none;
    text-align: center;
    padding: 12px 30px;
    font-size: 20px;
    letter-spacing: 1px;
}

input[type="submit"]:hover{
    background: #397e4e;
    color: #fff;
    border: none;
    text-align: center;
    padding: 12px 30px;
    font-size: 20px;
    letter-spacing: 1px;
}

h2,h3 {
    margin: 0;
    margin-top: 5px;
}

h3 {
    color: rgb(99, 88, 225);
}

p b {
    color: #459f60;
}