* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.texto-rojo {
  color: #ce1d1d;
}

.texto-verde {
  color: #3cb12c;
}

.flex-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

form {
  width: 30%;
  height: 20%;
  margin: 10px;
  padding: 20px;
  background: #081434;
}

.form__title {
  padding: 10px 30px;
  color: white;
}

.form__containerInput {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 7px;
}

.form__input {
  font-weight: 540;
  background: none;
  border: none;
  border-top: #4ae 2.5px solid;
  color: #fff;
  width: 90%;
  height: 32px;
  padding: 5px;
  outline: none;
  transition: 0.2s;
}

.form__input::placeholder {
  font-weight: 540;
  color: #4ae;
}

.form__input:hover::placeholder,
.form__input:focus::placeholder {
  font-weight: 540;
  color: #fff;
}

.form__input:hover,
.form__input:focus {
  background: rgba(8, 110, 179, 0.884);
  border: none;
  border-top: #4ae 2.5px solid;
  color: #fff;
  width: 90%;
  padding: 5px;
  outline: none;
}

.form__input::selection {
  background: #8e9fff8a;
}

.form__input[type="submit"] {
  border: none;
  background: rgb(5, 144, 236);
  color: #fff;
  font-weight: 540;
  margin-top: 10px;
}

.form__input[type="submit"]:hover {
  border: none;
  background: rgb(5, 115, 189);
  color: #fff;
  font-weight: 540;
  margin-top: 10px;
}

.padding {
  padding: 10px 35px;
}
